<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Map Quest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div class="control">
    <input type="text" id="from" [(ngModel)]="from" >
    <input type="text" id="to" [(ngModel)]="to" >
    <button id="getDirections" (click)="getDir()">Get Directions</button>
  </div>
  <div class="view">
    <h3 class="heading">Distance: {{data.distance | number}}m - Duration: {{data.formattedTime}}</h3>
    <ion-list>
      <ion-item *ngFor="let directions of data.legs[0].maneuvers; let i=index">
        <ion-thumbnail slot="start">
          <img src='{{directions.iconUrl}}'>
        </ion-thumbnail>
        <h2> {{i+1}} </h2>
        <a href='{{directions.mapUrl}}' target="_blank">{{directions.narrative}}</a>
        <h2> {{directions.distance | number}}m </h2>
      
      </ion-item>
    </ion-list>
  </div>

</ion-content>
